li{
   padding: 5px;
}
.nav-tabs {
   border-bottom: 1px solid #dee2e6;
   background-color: black;
}
a{
   
color: white !important;
font-weight: bolder;
}
span{
   font-size: 20px;
}

.appname{
 font-size: xx-large;
}
.margin-top{
   margin-top: 54px !important;
}